/*=========================//
//==== Main styles ========//
//=========================*/

/*==== Layout styles =====*/

body {
	background-color: #f2f3f3;
	color: gray;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 2em;
}

/* === Header styles ======= */

h1 {
	text-align: center;
}

/*=== Card styles =======*/

#nominees {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.nominee-card {
	padding: 1em;
  max-width: 100%;
  transition: .4s;
}

.nominee-card > * {
  pointer-events: none;
}

.nominee-image {
	max-width: 100%;
  border-radius: 50%;
}

.border-focus {
  transform: scale(1.1);
  transition: .8s;
}

input[type=radio] {
	display: none;
}

@media screen and (min-width: 501px) {
  .nominee-card {
    max-width: 40%;
  }
}

@media screen and (min-width: 1140px) {
  .nominee-card {
    max-width: 30%;
  }
}